.img-pic img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: relative;
}

.img-pic {
    position: relative;
    height: 100vh;
}

.belt {
    position: absolute;
    height: 100%;
    width: 27%;
    background-color: #4bc7e040;
    top: 0;
    left: 9%;
    z-index: 2;
}

.img-half-overlay {
    position: absolute;
    height: 100%;
    width: 45%;
    background-color: #1f260080;;
    top: 0;
    left: 36%;
    z-index: 2;
}

.slogan-h2 {
    position: absolute;
    top: 20%;
    left: 11%;
    color: white;
    z-index: 3;
}

.slogan-h2 h2 {
    color: #fff700;
    font-size: 150px;
    text-shadow: 3px 3px #000000;
}

.slogan-h3 {
    position: absolute;
    bottom: 10%;
    left: 37%;
    color: white;
    z-index: 3;
    width: 36%;
}

.slogan-h3 h3 {
    color: #fff700;
    font-size: 30px;
}

.underline{position: relative;}
.underline:after {
  content: "";
  position: absolute;
  width:100%;
  height: 2.45em;
  left: 0;
  width: 100%;
  z-index:-10;
  background-image: url('https://res.cloudinary.com/dztuxvl4l/image/upload/v1561346293/unitingline-anim_tje077_hdw2p5.svg');
  background-repeat: no-repeat;
  background-size: 200% 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.section2-main-info {
    margin: 2.22222rem auto;
    text-align: center;
    max-width: 800px;
}

.section2-main-info h1,
.section2-main-info h2 {
    font-size: 50px;
}

.section-title {
    margin-bottom: 1rem;
}

.section-info,
.section-info2 {
    margin: 2.22222rem auto;
    text-align: center;
}

.section-info p {
    font-size: 24px;
}

.separator {
    height: 10px;
    background-color: #000;
}

/*fancy section*/

/* Reset. */
* {
    box-sizing: border-box;
}



/* Panels. */
.splitview {
    position: relative;
    width: 100%;
    min-height: 30vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 30vw;
    overflow: hidden;
}

.panel .content {
    position: absolute;
    width: 100vw;
    min-height: 30vw;
    color: #000000;
}

.panel .description {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.description h2 {
    margin: 33.5px;
}

.panel img {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    background-color: #fff;
    z-index: 1;
}

    .bottom .description {
        right: 5%;
    }

.top {
    background-color: #4bc7e0;
    z-index: 2;
    width: 50vw;

    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

    .top .description {
        left: 5%;
    }

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: #fff700;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

/* Skewed. */
.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 24px;
}

/* Responsive. */
@media (max-width: 900px) {
    body {
        font-size: 75%;
    }
}

.max-width1200 {
    max-width: 1200px;
    margin: auto;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-element {
    width: 30%;
    margin: 20px;
    height: 740px;
    padding: 20px;
}

.flex-element:hover {
    transform: scale(1.02);
    transition: 0.5s;
    /*box-shadow: #fff700 1px 1px 28px -12px;*/
}

.flex-element:hover h3 {
    color: black;
    transform: scale(1.1);
    margin-bottom: 84px;
    margin-top: -150px;
    transition: 0.5s;
    border: 4px solid #fff700;
}

.flex-element img {
    width: 250px;
    max-height: 250px;
    filter: grayscale(100%);
    transition: 0.5s;
}

.flex-element:hover img {
    transform: scale(0);
    transition: 0.5s;
}

.section-info2 h3 {
    font-family: Merriweather, serif;
    font-size: 30px;
    padding: 30px;
    transition: 0.5s;
    border: 4px solid white;
}

.section-info2 p {
    font-size: 18px;
    transition: 0.5s;
}

.flex-element:hover p {
    transform: scale(1.1);
    border-bottom: 8px solid;
    padding-bottom: 24px;
}

.section-form {
    position: relative;
    max-height: 700px;
}

.section-form img {
    width: 100%;
    max-height: 700px;
}

.form-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #fff700e6;
}

.form-form {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
}

.form-form {
    display: grid;
    grid-template-columns: 50% auto;
    padding: 60px 217px;
}

.form-part2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-part1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-info-content {
    max-width: 750px;
    z-index: 9;
}

form label {
    display: block;
    margin: 10px 0;
}

form input,
form textarea,
button{
    border: 4px solid black;
    width: 100%;
}

form input {
    height: 60px;
}

form button {
    height: 60px;
    background-color: black;
    color: #fff;
    font-size: 40px;
    transition: 0.4s;
}

form button:hover {
    background-color: #4bc7e0;
    border: 4px solid #fff;
    transform: scale(1.1);
}

/*footer */

.foot-wrapper {
    max-height: 350px;
    overflow: hidden;
    position: relative;
}

.foot-img {
    width: 100%;
}

.foot-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #ffffffe3;
}

.foot-content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.foot-slogan {
    text-align: center;
    font-size: 50px;
    margin: .67em 0;
}

.cert img {
    max-height: 150px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.cert {
    text-align: center;
    margin: auto;
}



.foot-menu-elements li,
.foot-menu-elements li a {
    font-size: 24px;
    color: #000000;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    transition: 0.4s;
    display: inline;
}

.foot-menu-elements li:hover a,
.foot-menu-elements li:hover {
    transform: scale(1.1);
    color: #4bc7e0;
}

.foot-menu-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .67em 0;
}

.foot-add {
    background-color: #4bc7e0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-add h5 {
    font-size: 20px;
    text-align: center;
}


