/*fonts:
font-family: 'Lato', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans Condensed';
*/
/*general*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

::-moz-selection {
  background: #000;
  color: #eee; }

::selection {
  background: #000;
  color: #eee;
  }

/* GENERAL */

a, h1, h2, h3, h4, span, i {
  color: #333229;
  font-family: Ubuntu, Lato, Arial, sans-serif;
}

p, h5 {
  color: #333229;
}

* {
  box-sizing: border-box;
}

/*scripts*/

.disNone {
  opacity: 0;
  visibility: hidden;
  height: 0!important;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s;
  -moz-transition: opacity .2s ease-in-out, visibility .2s;
  -ms-transition: opacity .2s ease-in-out, visibility .2s;
  -o-transition: opacity .2s ease-in-out, visibility .2s;
  transition: opacity .2s ease-in-out, visibility .2s;
  position: absolute; top: -9999px; left: -9999px;
}
.disNone2 {
  display: none;
}

/*MENU HEADER*/

.borderFixed {
  height: 4px;
  background-color: #1D4770;
  transition: all 1s;
  top: 0;
}

.bfAbout {
  background-color: #0643CB
}

.bfCoop {
  background-color: #D3FF82
}

.bfJobs {
  background-color: #7F96C7
}

.bfCont {
  background-color: #A4FF00
}





header  {
  width: 100%;
  position: fixed;
  transition:all 1s;
  z-index: 99;
  background-color: #ffffff00;
  top: 0;
}

header nav.container .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items:center;
  align-content: space-between;
}

/*logo*/

header nav.container .menu .logo {
  order: 0;
  flex: 1 0 auto;
  align-self: center;
}

header nav.container .menu .logo img {
  height: 60px;
  margin: 10px;
}

.container {
  max-width: 1070px;
}

.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    margin-top: -5px;
    background-color: #1D4770;
    box-shadow: 0px 0px 14px 1px;
    transform: scale(1.02);
}

/*menu items*/
.menu {
  margin-top: 5px;
}

.menu .menu-items {
  order: 0;
  flex: 3 0 auto;
  align-self: center;
}

.menu .menu-items ul {
  float: right;
  margin: 0;
}

.menu .menu-items ul li {
  display: inline;
  padding: 10px;
}

.menu .menu-items ul li a {
  color: #FFF;
  transition: 0.5s;
}

.menu .menu-items ul li a.home:hover {
  color: #1D4770;
  text-decoration: none;
}

.menu .menu-items ul li a.about-me:hover {
  color: #0643CB;
  text-decoration: none;
}

.menu .menu-items ul li a.cooperation:hover {
  color: #D3FF82;
  text-decoration: none;
}

.menu .menu-items ul li a.my-jobs:hover {
  color: #7F96C7;
  text-decoration: none;
}

.menu .menu-items ul li a.loglog {
    color: #1D4770;
}

.menu .menu-items ul li a.loglog:hover {
    color: #fee300;
}

.menu .menu-items ul li a.contact:hover {
  color: #A4FF00;
  text-decoration: none;
}

/*menu end*/
/*PICTURE SECTION*/

.section-picture {
  border-bottom: 4px solid #1D4770;
  transition:all 1s;
  position: relative;
}
.video {

}

/*video!!! */

.picture.for-slogan {
    position: relative;
    background: rgb(26,63,98);
    background: linear-gradient(225deg, rgba(26,63,98,1) 8%, rgba(38,93,144,1) 49%, rgba(20,47,77,1) 91%);
    overflow: hidden;
    height: 100vh;
    /*background-image: url('../img/123.jpg');*/
    background-position: 41% 39%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    z-index: 2;
    display: flex;
    background: #1D4770;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 7px;
    box-shadow: 0px 0px 16px 0px #242424;
    height: 73%;
    width: 71%;
    position: relative;
}

.slogan h3 {
  color: white;
  transition: 0.5s;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slogan_two,
.slogan_one {
  position: relative;
}

.slogan .dot_2 {
    position: absolute;
    width: 9%;
    height: 7%;
    background-image: url(../img/world.png);
    top: 7%;
    background-size: contain;
    background-repeat: no-repeat;
    right: -1.5%;
}

.slogan .dot_1 {
    position: absolute;
    width: 9%;
    height: 7%;
    background-image: url(../img/world.png);
    top: 7%;
    background-size: contain;
    background-repeat: no-repeat;
    left: 4%;
}

p.home-close,
p.home-open {
  font-size: 130px;
  font-weight: 100;
  color: #1D4770;
  font-family: "Crimson Text";
}

.mustage {
  opacity: 0;
  font-size: 30px;
  margin: 0px 48px;
}

.mustage-on {
  opacity: 1;
  transition: 3s;
  font-size: 130px;
}

.slogan-about-me {
  color: #0643CB!important;
  border-color: #0643CB;
}

.slogan-cooperation {
  color: #D3FF82!important;
  border-color: #D3FF82;
}

.slogan-my-jobs {
  color: #7F96C7!important;
  border-color: #7F96C7
}

.slogan-contact {
  color: #A4FF00!important;
  border-color: #A4FF00;
}

.slogan_one h2,
.slogan_two h2 {
  color: white;
}

.ffirst_button1 {
    padding: 13px 62px;
    color: black;
    /* border: 2px solid black; */
    background-color: #fee300;
    display: block;
    border-radius: 7px;
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
    transition: 0.4s;
    border: 2px solid #fee300;
    text-decoration: none;
}

.ffirst_button1:hover {
  border: 2px solid #fee300;
  color: #fff;
  background: #1D4770;
  transform: scale(1.05);
  box-shadow: 1px 2px 47px -18px black;
    text-decoration: none;
}

.ffirst_button2 {
    padding: 7px 44px;
    font-size: 18px;
    margin-top: 40px;
    display: inline;
    color: black;
    /* border: 2px solid black; */
    background-color: #fee300;
    border-radius: 7px;
    text-align: center;
    transition: 0.4s;
    border: 2px solid #fee300;
    text-decoration: none;
}

.ffirst_button2:hover {
    border: 2px solid #fee300;
    color: #fff;
    background: #1D4770;
    transform: scale(1.2);
    box-shadow: 1px 2px 47px -18px black;
    text-decoration: none;
}

.slogan_one {
  padding: 120px;
}

.indiv_pic {
  background-image: url("../img/toy.png");
  width: 75%;
  height: 75%;
  background-size: contain;
  background-repeat: no-repeat;
}



/*H1 SECTION*/

.about-sentence-section h1,
.about-sentence-section p {
  text-align: center;
  color: #272727;
}
.about-sentence-section h1 {
  padding-top: 100px;
  font-weight: bold;

}

.about-sentence-section p {
  padding-bottom: 50px;
  padding-top: 25px;
  font-size: 20px;
  margin: 0 80px;
}

.about-sentence-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-sentence-div
.about-sentence-button a {
    background-color: #1D4770;
    color: white;
    padding: 13px 62px;
    text-decoration: none;
    margin-top: 17px;
    font-size: 24px;
    border: 2px solid #1D4770;
    border-radius: 7px;
    transition: 0.5s;
    text-align: center;
}

.about-sentence-div .about-sentence-button a:hover {
  border: 2px solid #1D4770;
  color: #1D4770;
  background: #fff;
  transform: scale(1.05);
  box-shadow: 1px 2px 47px -18px;
}


/*INFO SECTION*/

#about {
  padding-top: 15px;
}

.about-flex-one,
.about-flex-two {
  margin: 0 50px;
  flex: 1;
}

.about-flex-one h2,
.about-flex-two h2 {
  color: #1D4770;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Lato";
}

.about-flex-one p,
.about-flex-two p {
  text-align: center;
  font-family: "Lato";
  font-size: 17px;
}

.header-one {
  font-size: 43px;
}

.header-one:after {
  content: "";
  background-color: black;
  height: 2px;
  width: 100%;
}

.section-about .header-one {
  margin: 70px;
  padding: 20px 20px 20px 34px;
  margin: 70px 120px;
  position: relative;
  text-align: center;
}

.about-sec {
  max-width: 800px;
  margin: 72px auto;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}


.icon-div {
  height: 120px;
  width: 120px;
  font-size: 98px;
  text-align: center;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-div i {
  color: #0643CB;
}

.icon-div {
  border-right: 1px solid #b5b5b5;
}

.picture-icon-one {
  background-image: url(../img/idea.jpg);
  height: 120px;
  width: 120px;
  background-size: cover;
  position: relative;
}

.picture-icon-two {
  background-image: url(../img/hammer.jpeg);
  height: 120px;
  width: 120px;
  background-size: cover;
  position: relative;
}

.overlay-for-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1a2409b8;
}

.icon-content h2 {
  color: #1D4770;
  margin-bottom: 18px;
}

.icon-div-one,
.icon-div-two {
  flex: 1;
}

.icon-content {
  flex: 4;
  padding: 25px;
}

.for-link {
  display: flex;
  justify-content: flex-end;
}

.for-link a {
  background-color: #1D4770;
  color: white;
  padding: 11px;
  text-decoration: none;
  margin-top: 17px;
  font-size: 15px;
  border: 1px solid #fff;
  transition: 0.5s;
}

.for-link a:hover {
  border: 1px solid #1D4770;
  color: #1D4770;
  background: #fff;
}

/*MORE*/

.more-image-background {
  background-image: url(../img/office.jpg);
  background-size: cover;
  height: 500px;
  position: relative;
}

.section-more-title {
  text-align: center;
}

.more-part-one {
  padding: 0;
}

.more-part-two {
  background-color: #05131d;
  display: flex;
}

.more-title{
  justify-content: center;
  align-items: center;
  display: flex;
}

.more-text {
  padding: 75px;
}

.more-text h5 {
  font-size: 24px;
}

.more-text h5 {
  margin-bottom: 35px;
}

.more-text p,
.more-text h5 {
  color: white;
  text-align: center;
}



/*PROJECTS*/

.container .my-work-title .header-one {
  margin: 70px;
  text-align: center;
}

.work-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 35px auto;
}

.work-flex-div {
  height: 180px;
  width: 230px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/*work flex one*/

.work-flex {
  margin: 120px 0;
}

.work-flex-one-in {
  background-image: url(../img/graffcar-graf.png);
  background-size: 100% 100%;
}

.work-flex-two-in {
  background-image: url(../img/2si.png);
  background-size: 100% 123%;
}

.work-flex-three {
  background-image: url(../img/ozon2.png);
  background-size: 100%;
}

.work-flex-four {
  background-image: url(../img/chillemotions2.png);
  background-size: 100%;
}

.work-element {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  transition: 0.5s;
}

.overlay:hover {
  background-color: #1D4770;
}

.overlay p {
  color: #fff;
  display: none;
  font-size: 19px;
  margin: 0;
}

.overlay:hover p {
  display: inline;
}

/*contact*/

.contact-all {
  background-color: #05131d;
}

.contact-pure-data p {
  color: #fee300;
}

.contact-pure-data p a {
  color: #fff;
  transition: 0.4s;
}

.contact-pure-data p a:hover {
  color: #1D4770;
  text-decoration: none;
}

.contact-title {
  width: 45%;
  margin: auto;
}

.contact-title h2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 1.2;
}

.contact-form {
  width: 60%;
  margin: 40px auto 0 auto;
}

label {
  display: block;
}

.contact-pure-data {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.contact-pure-data p {
  padding: 9px 35px;
}

.contact-pure-data svg {
  font-size: 35px;
  margin-bottom: 12px;
  color: #fff;
}

form {
  padding-bottom: 50px;
}

form div input,
form div textarea {
  margin: 12px 0;
  width: 75%;
  border: 1px solid #fff;
  border-radius: 7px;
}

form div{
  text-align: center;
}

.input-text {
  height: 45px;
}

.contact-message textarea {
  height: 100px;
}

.contact-submit button {
    padding: 13px 62px;
    color: black;
    /* border: 2px solid black; */
    background-color: #fee300;
    display: block;
    border-radius: 7px;
    text-align: center;
    font-size: 24px;
    transition: 0.4s;
    border: 2px solid #fee300;
    text-decoration: none;
    margin: auto;
}

.contact-submit button:hover {
    border: 2px solid #fee300;
    color: #fff;
    background: #05131d;
    transform: scale(1.05);
    box-shadow: 1px 2px 47px -18px black;
}


}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  font-size: 22px;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  font-size: 22px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  font-size: 22px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
  font-size: 22px;
}


.map {
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

iframe {
  width: 45%;
  height: 300px;
}

/*contact*/


#send_form_status{border: 1px dashed #ccc;display: none; padding: 0 10px; margin: 10px 0;width: 45%;margin: auto;}
.status_ok{color: #060}
.status_err{color: #F00}


/*contact End*/

/*footer*/


footer .footer-text p {
    text-align: center;
    color: #fee300;
    padding-top: 15px;
    font-size: 14px;
}

footer {
  width: 100%;
  background-color: black;
  height: 52px;
  margin-top: -16px;
}

