{% extends 'appforfirst/min_base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'appforfirst/szablon/css/welcome.css' %}">


<div class="welcome_h1 centerr">
    <h1>Dzień dobry {{ request.user }}</h1>
</div>
<div class="date_today centerr">
    <h2>Dzisiaj jest: {{weekday}}, {{date.day}}.{{date.month}}.{{date.year}} </h2>
    <div class="lotto">
        <h2>Wyniki ostatniego losowanie lotto:</h2>
        <div class="lotto_ajax">


        </div>
    </div>
</div>



<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="fh5co-project-item">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
						</figure>
						<div class="fh5co-text">
							<h2>Wydarzenia dzisiaj</h2>
							<div class="mx-auto">
                                <ul class="list-group mx-auto">
									{% for todays_event in todays_events %}
									<a href="{% url 'appforfirst:event' todays_event.id %}">
                                  		<li class="list-group-item hov">{{ todays_event.task_name}}

									  	<p>Start godzina: {{todays_event.task_data_wykonania|date:'H:i' }}</p>

								  		</li>
									</a>
									{% endfor %}
                                </ul>
                            </div>
							<p>Wydarzenia nadchodzące</p>
						</div>
					</div>
				</div>


				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="fh5co-project-item">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
						</figure>
						<div class="fh5co-text">
							<h2>To Do dzisiaj</h2>
							<div class="mx-auto">
                                <ul class="list-group mx-auto">
									{% for todays_task in todays_tasks %}
									<a href="{% url 'appforfirst:task' todays_task.id %}">
									  <li class="list-group-item hov">{{ todays_task.zadanie_name}}
										  <p>Typ zadania: {{ todays_task.zadanie_type}}</p>
										  <p>Godzina: {{todays_task.zadanie_start_time|date:'H:i'}}</p>
									  </li>
									</a>
									{% endfor %}
                                </ul>
                            </div>
						</div>
					</div>
				</div>


				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="fh5co-project-item">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
						</figure>
						<div class="fh5co-text">
							<h2>Dziennik</h2>
							<div class="mx-auto">
                                <ul class="list-group mx-auto">
									{% for todays_task in todays_diary %}
									<a href="{% url 'appforfirst:diary' todays_task.id %}">
									  <li class="list-group-item hov">{{ todays_task.wydarzenie_name}}
										  <p>Projekt: {{ todays_task.wydarzenie_project}}</p>
									  </li>
									</a>
									{% endfor %}
                                </ul>
                            </div>
						</div>
					</div>
				</div>

                <div class="col-lg-12 col-md-12 col-sm-12">
					<div class="fh5co-project-item">

						<div class="fh5co-text">
							<h2 class="mt-3">Projekty</h2>
							<p>Otwarte projekty:</p>
                            <div class="mx-auto">
                                <ul class="list-group w-25 mx-auto">
									{% for project in today %}
									<a href="{% url 'appforfirst:project' project.id %}">
                                  <li class="list-group-item hov">{{ project.project_name}} <p>Status: {{ project.project_status}}</p></li>
									</a>
										{% endfor %}
                                </ul>
                            </div>
						</div>
					</div>
				</div>





			</div>


        {% endblock %}

