{% extends 'appforfirst/newtemplates/min_base.html' %}
{% load static %}
{% block content %}

    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1610854532390782',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v5.0'
    });
  };
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>

<section id="home" class="section-picture">
        <div id="big-video" class="picture for-slogan">
            <div class="slogan row" id="slogan-div">
                <div class="dot_1 dot"></div>
                <div class="dot_2 dot"></div>
                <div class="col-lg-6 slogan_one">
                    <h2>Design</h2>
                    <h2>Simplicity</h2>
                    <h2>Usability</h2>
                    <h2>Beauty</h2>
                    <a href="#" class="ffirst_button1">Learn more</a>
                </div>
                <div class="col-lg-6 slogan_two">
                    <div class="indiv_pic">
                </div>
              </div>

            </div>
        </div>
      </section>

<!-- PICTURE SECTION END -->
<!-- H1 SECTION START -->

      <section id="about-sentence-section" class="about-sentence-section">
      	  <div class="about-sentence-div container">
        	<h1>Professional websites, applications and it systems.</h1>
        	<p>Today, the existence of a company without a website is always in question. Research indicates that from year to year the number of people seeking information on the internet is steadily increasing. Pages, sites, shops, portals - these are only limited by imagination solutions that affect the lives of each of us. Maybe sometimes we don't realize how much.</p>
        	<div class="about-sentence-button">
        		<a href="#contact" class="contact internalLink">Learn more</a>
        	</div>
        </div>
      </section>

<!-- H1 SECTION END -->

<section id="about" class="container">

</section>
<section id="more" class="more">

</section>

<!-- MARKETING SECTION START -->

      <section id="marketing" class="container">
        <div class="marketing-column-one">
        </div>
        <div class="marketing-column-two">
        </div>
      </section>

<!-- MARKETING SECTION END -->
<!-- CONTACT FORM SECTION -->

      <section id="contact">
        <div class="container">
          <div class="section-about">
              <h3 class="header-one">Contact us</h3>
          </div>
        </div>
          <div class="contact-all">
            <div class="contact-address">
              <div class="contact-pure-data">
                <i class="fas fa-phone"></i>
                <p>E-mail:<br/><a class="contact-type-email" href="mailto:biuro@4tea.pl">biuro@4tea.pl</a></p>
                <i class="far fa-envelope"></i>
                <p>Telephone:<br/><a href="tel:+48694037695">+48 694 037 695</a></p>
                <i class="fas fa-map-marker-alt"></i>
                <p>Address:<br/><a href="#">ul. Drzymały 17/6<br/>
                03-140 Warsaw</a></p>
              </div>
            </div>
            <div class="contact-title">
              <h2>
Do you think about your website, blog or website?<br/>
Do you need advice in choosing technology?<br/>
Or maybe you want to modernize your existing solution?
Contact us.
              </h2>
            </div>
            <div id="send_form_status"></div>
            <div class="contact-form" id="sendFormStatus">
              <form method="post" action="/send_form.php" id="contact_form" class="form">
                  <div class="contact-name contact">
                    <input type="text" name="name" id="name" placeholder="Imię i nazwisko" class="formField input-text" />
                  </div>
                  <div class="contact-mail contact">
                    <input type="text" name="email" id="email" placeholder="Aders e-mail" class="formField input-text" />
                  </div>
                   <div class="contact-message contact">
                    <textarea name="message" id="message" placeholder="Wiadomość" class="formField input-text"></textarea>
                  </div>
                  <div class="contact-submit contact">
                    <button id="sendBtn">Send</button>
                  </div>
                  <div id="send_form_status"></div>
              </form>
            </div>
          </div>
      </section>



{% endblock %}