{% load static %}
<!DOCTYPE html>

	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>4first</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{% static 'appforfirst/main.css' %}">


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Roboto+Condensed&display=swap" rel="stylesheet">



	</head>
	<body>


	<header>

		<div id="nav-icon3">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

	<div class="main-menu">
		<div class="menu-container">
			<ul class="menu-elements">
				<li><a href="{% url 'appforfirst:index' %}">Home</a> </li>
				<li><a href="{% url 'appforfirst:welcome' %}">Welcome</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Hire Us</a></li>
				<li><a href="#">Contact</a></li>
				{% if user.is_authenticated %}
				<li><a href="{% url 'appforfirst:welcome' %}"></a></li>
				<li><a href="{% url 'logout' %}">Wyloguj {{ request.user}}</a></li>
                            {% else %}
                                <li>Zacznij działać</li>
                            {% endif %}
                    {% if user.is_authenticated %}
				<li><a href="index.html">Witaj {{ request.user}}</a></li>
                    {% else %}
				<li><a href="{% url 'login' %}">Zaloguj się</a></li>>
			</ul>
		</div>
	</div>


{% endif %}

		</header>
        {% block content %}
        {% endblock %}
	<footer>
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
		<script
  src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
  integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
  crossorigin="anonymous"></script>


	<script src="{% static 'appforfirst/scripts.js' %}"></script>





	</body>
</html>