{% extends 'appforfirst/newtemplates/min_base.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}


{% block content %}
        <section class="banner_part banner_welcome">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <div class="container_for_background">
                                <h5>Hi there {{ request.user }}</h5>
                                <h5>Dzisiaj jest: {{weekday}}, {{date.day}}.{{date.month}}.{{date.year}}</h5>
                                <h5 class="align-content-center">Ostatnie losowanie Lotto:</h5>
                                <p>Numer losowania Lotto: {{ num_losowania }}</p>
                                <p>Data ostatniego losowania: {{ data_losowania }}</p>
                                <p>Wylosowane numery: {{ numerki }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                                        <div class="banner_text">
                        <div class="banner_text_iner">
                            <div class="container_for_background">
                                <h5>A oto najnowsze wiadomości:</h5>
                                <div class="box-container">
                                    {% for key, value in news.items %}
                                    <ul>
                                        <li><a href="{{ value }}" target="_blank"><p> - {{ key }}</p></a></li>
                                    </ul>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
<div class="container">
<div class="welcome">
    <div class="alert alert-success" role="alert">
        <h2>Dzisiaj jest: {{weekday}}, {{date.day}}.{{date.month}}.{{date.year}}</h2>
        <h2 class="align-content-center">Ostatnie losowanie Lotto:</h2>
        <p>Numer losowania Lotto: {{ num_losowania }}</p>
        <p>Data ostatniego losowania: {{ data_losowania }}</p>
        <p>Wylosowane numery: {{ numerki }}</p>
    </div>
</div>
<div class="">
                                    {% for todays_event in todays_events %}
    <a href="{% url 'appforfirst:event' todays_event.id %}">
        <li>{{ todays_event.reminder_name}}
            <p>Start godzina: {{todays_event.reminder_data_wykonania|date:'H:i' }}</p>
                                    {% endfor %}
                                    {% for todays_task in todays_tasks %}
            <a href="{% url 'appforfirst:task' todays_task.id %}">
                <li>{{ todays_task.task_name}}
                    <p>Typ zadania: {{ todays_task.task_type}}</p>
                  <p>Godzina: {{todays_task.task_start_time|date:'H:i'}}</p>
            {% endfor %}
            {% for todays_task in todays_diary %}
            <a href="{% url 'appforfirst:diary' todays_task.id %}">
              <li>{{ todays_task.diary_name}}
                  <p>Projekt: {{ todays_task.diary_project}}</p>
            {% endfor %}
    <a href="{% url 'appforfirst:adddiary' %}" role="button">Dodaj nowe wydarzenie</a>
            {% for project in today %}
            <a href="{% url 'appforfirst:project' project.id %}">
          <li>{{ project.project_name}} <p>Status: {{ project.project_status}}</p></li>
                {% endfor %}
    <a href="{% url 'appforfirst:add_project' %}" role="button">Dodaj nowy projekt</a>
</div>

    <div class="box-container">
        {% for key, value in news.items %}
            <a href="{{ value }}"><p>{{ key }}</p></a>
        {% endfor %}
    </div>


<div></div>

        {% endblock %}